{% extends 'base.html' %}


{% block content %}
<div class="align-center col-10 offset-1">

    <main class="d-flex col-10">
        <section id="activity-list" class="col-12">
            <div class="row">
                <p class="col-6 col-md-4 lead ml-2 mb-0">
                <H1 class="bg-light h1 text-capitalize">{{ site_name}} activities</H1>
                </p>

            </div>
            <div class="">

                {% if not activities %}
                <p class="bg-info">You do not have any activities for {{ site_name}}</p>
                {% else %}

                <table class="table" style="table-layout:fixed;">
                    <thead>
                        <tr>
                            <th scope="col col-1">Route</th>
                            <th scope="col">Used</th>
                            <th scope="col">Used in (%)</th>
                            <th scope="col">Content size (MB)</th>
                            <th scope="col">Content size (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for activity in activities %}
                        <tr>
                            <td>
                                <a class="text-dark" href="{{ activity.route }}" target="_blank">
                                    <p class="text-truncate">{{ activity.route }}</p>
                                </a>
                            </td>
                            <td>
                                <p class="text-truncate">{{ activity.used }}</p>
                            </td>
                            <td>
                                <p class="text-truncate">{{ activity.usage_percentage|floatformat:2 }}%</p>
                            </td>
                            <td>
                                <p class="text-truncate">{{ activity.content_size|floatformat:2 }}MB</p>
                            </td>
                            <td>
                                <p class="text-truncate">{{ activity.content_size_percentage|floatformat:2 }}%</p>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <section class="col-6">

                    {% endif %}

                </section>
                <div class="d-flex">
                </div>

            </div>

        </section>
    </main>
</div>
{% endblock content %}