<div class="row">
    <p class="text-center align-middle col-6 col-md-4 lead ml-2 mb-0">My sites</p>
    <div class="col align-middle align-self-center col-6 col-md-4 justify-content-center">
        <a class="align-middle col-6 btn btn-success ml-2 mr-2" href="{% url 'user:add-site' %}"> Add Site</a>
    </div>
</div>

<div class="d-flex">

    <section class="col-12">

        {% if not sites %}
        <p>You do not have any sites in your list</p>
        {% else %}

        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">VPN</th>
                    <th scope="col">Original Link</th>
                </tr>
            </thead>
            <tbody>
                {% for site in sites %}
                <tr>
                    <th scope="row">
                        <a class="col-4 btn btn-outline-dark" target="_blank"
                            href="{% url 'base_site_url' site.name %}">
                            VPN Link
                        </a>
                    </th>
                    <td>
                        <a class="col-4 btn btn-outline-primary" target="_blank" hx-target="#site-list"
                            hx-push-url="/sites/{{ site.site.name }}" href="{{ site.url }}">
                            {{site.name}}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% endif %}

    </section>

</div>